.home-page {
    display: flex;
    row-gap: 1em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.about-me {
    background-color: #171C30;
    color: #bdbdbd;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1em 1em 1em 1em;
    /* flex-wrap: wrap;
    align-items: flex-start;
    justify-content:flex-start; */
}

.my-coding {
    padding: 1em 1em 1em 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content:flex-start;
}

.my-coding > p {
    padding-bottom: 1em;
}

.about-me > h1 {
    margin-left: 3.5em;
}

.about-me > p {
    margin: 1em 0 0 0;
}

.ash-img {
    --size: 7.5em;

    font-style: italic;
    float: left;

    background-repeat: no-repeat;
    background-size: cover;
    
    width: var(--size);
    max-width: 100%;
    height: auto;
    vertical-align: middle;

    clip-path: circle(50%);
    shape-outside: circle(50%);
    /* margin-top: 0.5rem; */
    margin-right: 1rem;
    /* margin-bottom: 0.5rem; */
}

@media only screen and (max-width: 480px) {
    .about-me h1 {
        font-size: 1.4em;
        margin-bottom: 0.5rem;
    }
}

@media only screen and (max-width: 375px) {
    .about-me { align-items: center;}
    .about-me h1  { text-align: center; margin-left: 0; }
    .ash-img { display: flex; float: unset; margin-left: auto; margin-right: auto;} 
}

@media only screen and (max-width: 250px) {

}