.contact-me-page > p {
    margin: 1em 0 1em 0;
}

.contact-me-page > p > a {
    color: #336699;
    text-decoration: underline;
}

.contact-me-page > p > a:hover {
    color: #e6772e;
    text-decoration: none;
}

.contact-me-page > p > a:hover::after{
    content: ' \00bb';
    transition: 0.5s;
}