.contact-form {
    background-color: #336699;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 100%;
    padding: 1em;
    margin-bottom: 0.75em;
    max-width: 27em;
    width: 100%;
}

.contact-form label {
    color: #cee3f8;
    display: block;
    margin: 0 auto 0 auto;
    padding: 0.25em 0.25em 0.25em 0.25em;
    max-width: 26em;
    width: 100%
}

.contact-form input {
    background-color: #e4e3ff;
    border: 1px solid #171c30;
    border-radius: 0.5em;
    color: #171c30;
    display: block;
    margin: 0 auto 0 auto;
    padding-bottom: 0.75em;
    padding-left: 1em;
    padding-top: 0.75em;
    max-width: 30em;
    width: 100%
}

.contact-form textarea {
    background-color: #e4e3ff;
    border: 1px solid #171c30;
    border-radius: 0.5em;
    color: #171c30;
    display: block;
    height: 10em;
    margin: 0 auto 0 auto;
    padding-bottom: 0.75em;
    padding-left: 1em;
    padding-top: 0.75em;
    resize: none;
    max-width: 30em;
    width: 100%
}

.contact-form button {
    background-color: #eeac31;
    color:#171c30;
    border: 1px solid #171c30;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    display: block;
    font-size: 1.5em;
    height: 2em;
    margin: 1em auto;
    max-width: 10em;
    padding: 0.25em;
    width: 100%;
}

.contact-form button:hover {
    background-color: lightgreen;
    color:#171c30;
}

.contact-form input:focus, .contact-form textarea:focus, .contact-form button:focus {
    outline: 0.1em solid #eeac31;
}

.required {
    color: #D30000;
    text-align: center;
}

.success {
    color:darkgreen;
    text-align: center;
}

@media only screen and (max-width: 575px) {
    .contact-form {
        border-radius: 1em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 0.25em;
    }
    .contact-form input {
        width: 90%;
    }
    .contact-form textarea {
        width: 90%;
    }
    .contact-form button {
        background-color: #eeac31;
        color:#171c30;
        width: 90%;
    }
}

@media only screen and (max-width: 300px) {
    .contact-form button {
        font-size: 1.2em;
    }
}