.contact-form {
    /* background-color: #336699; */
    background-color: #373C60;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 100%;
    padding: 1em 1em;
    margin-bottom: 0.75em;
    max-width: 27em;
    width: 100%;
}

.contact-form label {
    box-sizing: border-box;
    color: #e4e3ff;
    display: block;
    margin: 0 auto 0 auto;
    max-width: 30em;
    padding: 0.25em 0.25em 0.25em 1em;
    width: 100%
}

.contact-form input {
    background-color: #e4e3ff;
    border: 1px solid #171c30;
    border-radius: 0.5em;
    box-sizing: border-box;
    color: #171c30;
    display: block;
    margin: 0 auto 0 auto;
    padding: 0.75em 1em;
    max-width: 30em;
    width: 100%
}

.contact-form textarea {
    box-sizing: border-box;
    background-color: #e4e3ff;
    border: 1px solid #171c30;
    border-radius: 0.5em;
    color: #171c30;
    display: block;
    height: 10em;
    margin: 0 auto 0 auto;
    padding: 0.75em 1em;
    resize: none;
    max-width: 30em;
    width: 100%
}

.contact-form button {
    background-color: #171c30;
    color:#bdbdbd;

    box-sizing: border-box;
    /* background-color: #eeac31;
    color:#171c30; */
    border: 1px solid #bdbdbd;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    display: block;
    font-size: 1.5em;
    height: 2em;
    margin: 1em auto;
    max-width: 10em;
    padding: 0.25em;
    width: 100%;
}

.contact-form button:hover {
    /* background-color: lightgreen; */
    background-color: #eeac31;
    color:#171c30;
    border: 1px solid #171c30;
}

.contact-form input:focus, .contact-form textarea:focus  {
    outline: 0.2em solid #eeac31;
}
.contact-form button:focus {
    outline: 0.1em solid #eeac31;
}

.form-error {
    color: #FFd300;
    font-size: 1.2em;
    text-align: center;
    text-shadow: -1px -1px 0 #171c30, 1px -1px 0 #171c30, -1px 1px 0 #171c30, 1px 1px 0 #171c30;
    padding-top: 0.75em;
    text-decoration: none;
    box-shadow:none;
    outline: none;
}

.success {
    color:#e4e3ff;
    text-shadow: -1px -1px 0 #171c30, 1px -1px 0 #171c30, -1px 1px 0 #171c30, 1px 1px 0 #171c30;
    /* padding-top: 1em; */
    font-size: 1.25em;
    text-align: center;
    /* max-width: 20em; */

}

.success-img {
    margin-left: auto;
    margin-right: auto;
    max-height: 150px;
    max-width: 150px;
}

.success-sub {
    color:#e4e3ff;
    text-shadow: -1px -1px 0 #171c30, 1px -1px 0 #171c30, -1px 1px 0 #171c30, 1px 1px 0 #171c30;
    /* padding-top: 0.5em; */
    font-size: 1em;
    text-align: center;
}

@media only screen and (max-width: 575px) {
    .contact-form {
        border-radius: 1em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 0.25em;
    }
    .contact-form input {
        width: 90%;
    }
    .contact-form textarea {
        width: 90%;
    }
    .contact-form button {
        background-color: #eeac31;
        color:#171c30;
        width: 90%;
    }
}

@media only screen and (max-width: 300px) {
    .contact-form button {
        font-size: 1.2em;
    }
}