.exp {
    border-collapse: collapse;
    margin: 1em auto 1em 1em;
    /* width: 45em; */
} 

.exp table, th, td {
    border: 1px solid;
    border-color: #8da6b6;
    padding: 1em;
}

.exp thead {
    background-color: #8da6b6;
}

.exp thead th {
    font-weight: bold;
}

.section-skills {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.section-skills h2 {
    margin-bottom: -0.5em;
    margin-left: 1em;
}

.section-skills ul {
    margin-left: 1em;
    padding: 0 0 1em 0.5em;
}

.section-education {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}