.header {
    background-color: #4D5F6D;
    color: #e0e0e0; 

    display: flex;
    justify-content: space-between;
    place-items: center stretch;
    padding: 0.5em 2em;
}

.header-bg {
    background-color: #4D5F6D;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
}

.header-wrapper {
    margin: 0 auto;
    max-width: 90em;
    width: 100%;
}

.header h3 {
    color: #e4e3ff; 
    line-height: 1;
    
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0em;
}

.header h4 {
    color: #bebebe; 
    line-height: 1;
    margin-block-start: 0.25em;
    margin-block-end: 0.5em;    
}

@media only screen and (max-width: 995px){
    .header{
        place-items:unset;
        padding: 0.25em 1em;

    }
}

@media only screen and (max-width: 525px) {
    .header {
        padding: 0.25em 1em;
    }
    .header h3 {
        font-size: 2em;
    }
    .header h4 {
        font-size: 1.25em;
        }      
}

@media only screen and (max-width: 480px) {
    .header {
        padding: 0.25em 0.5em;
    }
    .header h3 {
        font-size: 1.5em;
    }
    .header h4 {
        font-size: 1em;
        }  
}

@media only screen and (max-width: 374px) {
    .header {
        padding: 0 0.5em;
    }
    .header h3, .header h4  {
        display: none;
    }
}

@media only screen and (max-width: 250px) {
    .header {
      min-width: 250px;
    }
}