.alchamyst-logo-64 {
    display: none;
    max-width: 100%;
}
.alchamyst-logo-128 {
    display: none;
    max-width: 100%;
}

.header {
    background-color: #3E4756;
    color: #e0e0e0; 

    display: flex;
    justify-content: space-between;
    place-items: center stretch;
    padding: 0.5em 2em;
}

.header > a {
    margin: 0;
    padding: 0;
}

.header-bg {
    background-color: #3E4756;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
}

.header-wrapper {
    margin: 0 auto;
    max-width: 90em;
    width: 100%;
}

.site-title {
    display: flex;
    align-items: center;
    margin: 0.5em;
}

.header h3 {
    text-align: center;
    color: #e4e3ff; 
    line-height: 1;
    
    display: block;
    margin: 0;
    padding: 0;
}

.header h4 {
    text-align: left;
    color: #bebebe; 
    line-height: 1;
    margin: 0 0 0 1em;

    padding: 0;
}

@media only screen and (max-width: 995px){
    .header{
        place-items:unset;
        padding: 0.25em 1em;
    }
    .header > nav > ul {
        padding-left: 0.5em;
    }
}

@media only screen and (max-width: 525px) {
    .header {
        padding: 0.25em 0.25em;
    }
    .header h3 {
        font-size: 2em;
    }
    .header h4 {
        font-size: 1.25em;
        }      
}

@media only screen and (max-width: 425px) {
    .header h3, .header h4  {
        display: none;
    }
    .alchamyst-logo-128 {
        display: block;
    }  
}

@media only screen and (max-width: 250px) {
    .header {
      min-width: 250px;
    }
    .alchamyst-logo-128 {
        display: none;
    }
    .alchamyst-logo-64 {
        display: block;
    }
}