.header {
    background-color: #4D5F6D;
    color: #e0e0e0; 

    display: flex;
    justify-content: space-between;
    place-items: center stretch;
    padding: 10px 30px;
}

.header h3 {
    color: #e4e3ff; 
    line-height: 1;
    
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0em;
}

.header h4 {
    color: #bebebe; 
    line-height: 1;
    margin-block-start: 0.25em;
    margin-block-end: 0.5em;    
}

