.skill-list ul {
    /* background-color: lime; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em 0.5em;
    justify-content: flex-start;
    padding: 0;
}

.skill-list li {
    background-color: #171c30;
    border-radius: 0.5em;
    color: #bdbdbd;
    font-size: 1.1em;
    list-style: none;
    padding: 0.25em;
}