nav li {
list-style: none;
}
  
nav li a {
color: #e0e0e0;
font-size: 1.5em;
/* font-weight: bold; */
padding: 5px 8px;
text-decoration: none;
will-change: filter;
transition: filter 300ms;
}
  
nav li a:hover{
color: #eeac31;
filter: drop-shadow(0 0 1em #f5d5e0aa);
text-decoration: none;
}
  
  
nav ul {
align-items: center;
display: flex;
justify-content: space-around;
}


@media only screen and (max-width: 820px) {
  nav ul {
    align-items: end; 
    flex-direction: column;
  }  
}
/* Colours
#210535
#430d4b
#7b337d
#c874b2
#f5d5e0 
*/