.project-card {
    background-color: #8da6b6;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 100%;
    padding: 1em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.project-title {
    background-color: aqua;
    flex-grow: 2;
    width: 100%;
}

.project-wrapper{
    background-color: yellow;
    
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
}

.project-info {
    background-color: hotpink;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start; */
    /* justify-content: center; */
}

.project-details {
    background-color: red;
    /* min-width: 20em; */

    /* display: flex;
    flex-direction: row; */
}

.project-image-container {
    background-color: red;
    /* height: 20em; */
}

.project-image-container img {
    background-color: blueviolet;
    
    border-radius: 5%;
    height: 20em;
    width: 20em;
}

.project-links {
    background-color: coral;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.project-links a {
    text-align: center;
    /* min-width: 40%; */
    /* background-color: brown; */
    /* margin-top: auto;
    margin-bottom: auto;
    padding-left: 1em;
    padding-right: 1em; */
}

.project-skills {
    margin: 0em 0em 1em 1em;
    padding: 0em 0em 0em 0em;
    /* width: 100%; */
}

.project-description {
    background-color: lime;
    /* width: 100%; */
}

.project-description p {
    margin: 0em 0em 1em 1em;
    padding: 0em 0em 0em 0em;
}