.project-card {
    background-color: #8da6b6;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 100%;
    padding: 1em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.project-title {
    padding-left: 1em;
    width: 100%;
}

.project-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* .project-info {

} */

/* .project-details {

} */

.project-image-container {
    display: flex;
    justify-content: center;
}

.project-image-container img {
    border-radius: 5%;
    height: 15em;
    width: 15em;
}

.project-links {
    display: flex;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    flex-direction: row;
    justify-content: space-around;
}

.project-links a {
    color: #171C30;
    text-align: center;
    padding: 0em 0.5em 0em 0.5em;
}

.project-links a:hover {
    color: #e6772e;
    text-align: center;
    padding: 0em 0.5em 0em 0.5em;
}

.project-skills {
    margin: 0em 0em 1em 1em;
    padding: 0em 0em 0em 0em;
}

/* .project-description {

} */

.project-description p {
    margin: 0em 0em 1em 1em;
    padding: 0em 0em 0em 0em;
}


@media only screen and (max-width: 995px) {
    .project-image-container img {
        height: 15em;
        width: 15em;
    }

}

@media only screen and (max-width: 600px) {
    .project-image-container img {
        height: 10em;
        width: 10em;
    }
    .project-info {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .project-title {
        padding-left: 0.5em;
    }
    .project-wrapper {
        flex-wrap: wrap;
    }
}
