:root {
  font-family: 'Lexend', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light; /* dark;*/
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #336699;
  text-decoration: inherit;
}
a:hover {
  color: #e6772e;
}

body {
  background-color: #BDBDBD;
  margin: 0;
  padding: 0;
}


h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.75em;
  line-height: 1.1;
}

h2 {
  font-size: 1.25em;
  line-height: 1.1;
}

h3 {
  font-size: 2.25em;
  line-height: 1.1;      
}

h4 {
  font-size: 1.5em;
  line-height: 1.1;      
}

html {
  overflow-y: scroll;
}

.content-box {
    background-color: #8da6b6;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.link-icon {
  color: red;
  height: 1em;
}

.main {
  color: #171c30;
  flex-grow: 1;
  padding: 0px 20px;
  height: 100%;
  /* max-width: 65em; */
}

.root {
  display: flex; 
  min-height: 100vh;
  min-width: 100vw;
}

.wrapper {
  margin: 0 auto;
  max-width: 90em;
}

@media only screen and (max-width: 1280px) {
  .wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 250px) {
  .wrapper {
    min-width: 250px;
  }
}